- # encoding: UTF-8
!!! 5
%html(lang="en")
  %head
    %title Crocard - Register

    %meta(charset="UTF-8")
    %meta(name="keywords" content="Crocard")
    %meta(name="description" content="")
    %meta(name="author" content="horvaticluka@gmail.com")
    %meta(id="meta" name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0")

    %link(rel="stylesheet" href="dist/main.css")
    %link(rel="stylesheet" href="dist/query.css")
    / Lightbox
    %link(rel="stylesheet" href="lightbox/css/lightbox.css")
    / Fonts
    %link(href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900|Open+Sans|Raleway:400,500,900&subset=latin-ext" rel="stylesheet")/

    %script(type="text/javascript" src="js/script.js")

  %body

    / HEADER SECTION **************************************
    #header.section
      .container

        / MAIN NAVBAR
        .main-navbar
          .main-navbar__wrap
            .main-navbar__logo
              %a.crocard-logo(href="index.html")

            .main-navbar__search
              %input.search(type="text" placeholder="Search your location")

          .main-navbar__wrap
            %nav.main-navbar__nav.mobile-hide
              %ul
                %li
                  %a(href="locations.html") Locations
                %li
                  %a(href="how-it-works.html") How it Works
                %li
                  %a(href="support.html") Support
                %li
                  %a.btn.btn--yellow(href="register.html") Sign In / Sign Up

            .mobile-nav.mobile-show.desktop-hide
              .mobile-nav__menu
              .mobile-nav__wrap
                .mobile-nav__close
                %ul.mobile-nav__list
                  %li
                    %a(href="index.html") Home Page
                  %li
                    %a(href="locations.html") Locations
                  %li
                    %a(href="how-it-works.html") How it Works
                  %li
                    %a(href="support.html") Support
                  %li
                    %a.btn.btn--yellow(href="register.html") Sign In / Sign Up


    / NAVBAR SECTION **************************************
    #navbar.section
      .container

        %nav.sec-navbar
          %ul
            %li
              %a(href="#") Activity
            %li
              %a.active(href="#") Edit Profile
            %li
              %a(href="#") Security
            %li
              %a(href="#") Payments
            %li
              %a(href="#") Logout




    / CONTENT SECTION **************************************
    #content.register.section
      .container

        %form#profile

          .input-wrap
            %label First Name
            %input.profile(type="text" placeholder="Firstname")

          .input-wrap
            %label Last Name
            %input.profile(type="text" placeholder="Lastname")

          .input-wrap
            %label Birth Date
            %input.profile(type="text" placeholder="Birth Date")

          .input-wrap
            %label Gender
            %select.profile
              %option Male
              %option Female

          .input-wrap
            %label City
            %input.profile(type="text" placeholder="City")

          .input-wrap
            %label Country
            %input.profile(type="text" placeholder="Country")


          .input-wrap
            %input.btn.btn--profile(type="button" value="Save")








    / DOWNLOAD SECTION **************************************
    #download.section
      .container

        .download-row
          .download__text
            Download CroCard App and start your journey trough Croatia!
        .download-row
          %a(href="#")
            %img(src="dist/image/google-play.svg" alt="Google Play")
          %a(href="#")
            %img(src="dist/image/app-store.svg" alt="App Store")




    / FOOOTER SECTION **************************************
    #footer.section
      .container

        .footer-row

          .footer__copyright
            Crocard © 2017

          %nav.footer__nav
            %ul
              %li
                %a(href="#") Become a Partner
              %li
                %a(href="#") Contact us
              %li
                %a(href="#") Privacy Policy
              %li
                %a(href="#") Terms of Use
              %li
                %a(href="#") Help

          .footer__created
            %a(href="https://www.locastic.com/") #madebylocastic


        .footer-row
          %a(href="#")
            %img(src="dist/image/google-play.svg" alt="Google Play")
          %a(href="#")
            %img(src="dist/image/app-store.svg" alt="App Store")

