/* HERO.STYL ======================================= */

#hero
    flexbox()
    flex-flow: row nowrap
    flex-center()

    .hero-col
        flexbox()
        flex-flow: column nowrap

        &:first-child
            box-sizing()
            margin: 0 60px 0 140px

        .hero__image
            width: 380px
            height: 593px
            background: url(image/hero2x.png) center no-repeat
            background-size: 380px
            background-position: 0 0
            transform: translateY(56px)


        .hero__title
            font-size: 60px
            font-weight: 400
            color: colorWhite
            line-height: 71px
            margin-bottom: 20px


        .hero__text
            font-size: 22px
            font-weight: 300
            color: colorWhite
            line-height: 32px


        .hero__buttons
            flexbox()
            align-items: center
            justify-content: flex-start
            margin-top: 30px

            a
                &:first-child
                    margin-right: 20px

                img
                    width: 200px
                    height: 60px

