/* SIMILAR.STYL ======================================= */

#similar
    background: colorBgGray
    color: colorDarkGray
    padding: 100px 0 50px 0
    margin-top: -50px

    .similar-row
        flexbox()
        flex-flow: row wrap

        &:last-child
            justify-content: space-around

    .container
        flexbox()
        flex-flow: column nowrap

    .similar__title
        font-size: 16px
        font-weight: 500
        margin-bottom: 20px
        margin-left: 10px



