/* MAIN.STYL ======================================= */

/* import base styl */
@import 'base/normalize'
@import 'base/colorPalete'
@import 'base/mixins'
/* @import 'base/variables' */
@import 'base/typography'
@import 'base/global'

/* import elements styl */
@import 'elements/input'
@import 'elements/button'
@import 'elements/checkbox'
@import 'elements/select'

/* import elements styl */
@import 'groups/forms'
@import 'groups/box'

/* import sections styl */
@import 'sections/header'
@import 'sections/footer'
@import 'sections/hero'
@import 'sections/navbar'
@import 'sections/sidebar'
@import 'sections/content'
@import 'sections/map'
@import 'sections/download'
@import 'sections/similar'
@import 'sections/details'
@import 'sections/locations'


/* import views styl */
@import 'views/index'
@import 'views/about'
@import 'views/contact'









