/* OFFERS-BOX.STYL ======================================= */

.offers-box
    width: 560px
    height: 350px
    position: relative
    margin: 0 5px

    .offers-row
        flexbox()
        flex-flow: row nowrap



    .offers-box__image
        width: 100%
        height: 100%
        background: url(image/image-offers.jpg) center no-repeat
        background-size: cover
        background-color: colorLighterGray
        border-radius(5px)

    .offers-box__content
        position: absolute
        flexbox()
        flex-flow: column nowrap
        bottom: 40px
        left: 40px


    .offers-box__discount,
    .offers-box__recommended
        flexbox()
        flex-center()
        border-radius(4px)
        text-transform: uppercase

    .offers-box__discount
        width: 67px
        height: 41px
        background: colorYellow
        color: colorGray1
        font-size: 22px
        font-weight: 500
        margin-right: 5px

    .offers-box__recommended
        width: 150px
        height: 40px
        background: colorPink
        color: colorWhite
        font-size: 16px
        font-weight: 600

    .offers-box__title
        font-size: 40px
        font-weight: 600
        color: colorWhite
        margin-top: 10px