/* COLOR-PALETE.STYL ======================================= */

color0 = transparent
colorBlack = #000
colorBlack03 = rgba(0, 0, 0, 0.3)
colorBlack06 = rgba(0, 0, 0, 0.6)
colorWhite = #fff
colorWhite03 = rgba(255, 255, 255, 0.3)
colorWhite06 = rgba(255, 255, 255, 0.6)

colorRed = #BD3535
colorRed09 = rgba(189,53,53,.9)

colorDarkGray = #00223E
colorLightGray = #9B9B9B
colorLighterGray = #DCDCDC

colorGray1 = #4A4A4A
colorGray2 = #6E6E6E

colorBgGray = #F8F8F8

colorGreen = #6ABF21
colorGreen2 = #7ED321
colorYellow = #F8E81C
colorBlue = #3A71B1
colorPink = #BD0FE1

blueGradient = linear-gradient(-134deg, #001C32 0%, #004E8C 100%)
greenGradient = linear-gradient(-150deg, #429321 0%, #B4ED50 100%)

