/* GLOBAL.STYL ======================================= */


/* overwrites ========================== */
html, body, div, table, p, input
	/* color: colorGray5 */
	font-family: font1
	font-size: 14px
	font-weight: 400


.show
	display: block
.hide
	display: none !important
.desktop-hide
	display: none
.desktop-show
	display: block

.center
	text-align: center

section
	margin: 0 auto

.container
	max-width: 1200px
	margin: 0 auto


.container-jumbo
	max-width: 1440px
	margin: 0 auto

.section-row
	width: 100%
	position: relative
	clear: both

.redline
	width: 50px
	height: 2px
	background: colorRed
	display: block
	margin: 10px auto



/* TITLE BLOCK - for red line */
.title-block
	flexbox()

	&.title-block--center
		justify-content: center
	&.title-block--left
		justify-content: flex-start
	&.title-block--right
		justify-content: flex-end


	.title
		display: initial






