/* VARIABLES.STYL ======================================= */

/* FONT FAMILY */
font1 = 'Roboto', sans-serif

/* font1 = 'Open Sans', sans-serif
font2 = 'Montserrat', sans-serif
font3 = 'Raleway', sans-serif */


/* H1 - H6 HEADINGS ========================== */
h1
	font-family: font1
	font-size: 80px
	font-weight: 400
	color: colorWhite
	text-transform: capitalize
	text-shadow: 0 0 10px colorBlack03

h1.hero-title
	color: colorWhite
	font-size: 60px
	font-weight: 900

h1.section-title
	color: colorBlue
	font-size: 40px
	font-weight: 600
	line-height: 32px
	text-shadow: none
	text-align: center
	margin-bottom: 40px


h3,
h4
	font-family: font1
	margin: 0
	padding: 0

h3
	font-size: 13px
	color: colorWhite
	font-weight: 600
	padding-top: 10px
	text-transform: uppercase

h4
	font-size: 14px
	color: colorWhite
	font-weight: 100
	opacity: .5



.text-red
	color: colorRed





/* FONT SIZES ======================================= */
fontSize1 = 21px
fontSize2 = 18px

fontH1 = 56px
fontH3 = 21px

fontJumbo = 64px
fontTextbox = 38px
fontTextboxSmall = 21px
fontNumber = 21px

fontButton = 18px

fontGraySmall = 15px

fontInput = 21px




