/* SELECT.STYL ======================================= */

select.locations
    display: block
    font-family: font1
    font-size: 20px
    color: colorDarkGray
    box-sizing()
    padding: 0 20px
    margin: 0
    border: 1px solid #CACACE
    border-radius: 2px
    width: 100%
    height: 60px
    cursor: pointer
    -moz-appearance: none
    -ms-progress-appearance: none
    -webkit-appearance: none
    background: colorBgGray url(image/other/carret-down.svg) no-repeat
    background-position: calc(100% - 20px)
    background-size: 13px




select.profile
    width: 416px
    height: 60px
    border: 1px solid colorLighterGray
    padding: 0 20px
    font-size: 16px
    font-weight: 400px
    color: colorGray1
    font-family: font1
    box-sizing()
    border-radius: 2px
    cursor: pointer

    -moz-appearance: none
    -ms-progress-appearance: none
    -webkit-appearance: none
    background: colorWhite url(image/other/carret-down.svg) no-repeat
    background-position: calc(100% - 20px)
    background-size: 13px
